* {
  all: unset;
  font-weight: bold;
  font-family: Terminess Nerd Font Mono;
}

// Colors from Catppuccin github repo https://github.com/catppuccin/catppuccin
// $mbg: rgba(0, 0, 0, 0.7); // Black #000000
$fg: rgb(133, 172, 251); // Jordy Blue #85acfb
$text: rgb(133, 172, 251); // Jordy Blue #85acfb
$bg: rgb(156, 100, 177); // Amethyst #9c64b1
// $border: rgb(156, 100, 177); // Amethyst #9c64b1
$transparent: rgba(0,0,0,0);

// // Colors from Catppuccin github repo https://github.com/catppuccin/catppuccin
// $mbg: #363a4f;
// $mbg: rgba(0,0,0,0.3);
$mbg: #939ab725; //#939ab7
// $fg: #8aadf4;
// $text: #cad3f5;
// $bg: #939ab7;
$border: #c6a0f6; //mauve
// $transparent: rgba(0,0,0,0);

.bar {
  // padding: 0.4rem 1rem;
  // padding-left: 50px;
  min-width: 20px;
  // min-height: 2540px;
  background-color: $mbg;
  color: $text;
  border-radius: 0.6rem;
  border: 3px solid $border;
  margin: 7px;
  margin-right: 0px;
}

.top_box {
  // border: 3px solid $border;
  border-radius: 0.6rem;
  padding: 9px;
  padding-bottom: 15px;
  // background-color: $mbg;
}

.center_box {
  // border: 3px solid $border;
  border-radius: 0.6rem;
  // background-color: $mbg;
}

.bottom_box {
  // border: 3px solid $border;
  border-radius: 0.6rem;
  padding: 9px;
  padding-top:15px;
  // background-color: $mbg;
}

.sys-tray {
  // border: 3px solid $border;
  padding: 10px;
}

.tray-item {
  all: unset;
}

.spacer {
  padding-top: 2px;
  padding-bottom: 2px;
}

.clock {
  font-size: 1.4rem;
  // font-family: DSEG7 Classic Mini;
  // font-family: TerminessTTF Nerd Font Mono;
  // padding: 2px;
  margin: 2px;
}

.clock-box {
  border: 2px solid $border;
  border-radius: 0.3rem;
}

.uptime-label {
  font-size: 22px;
  margin: 2px;
  color: $text;
}

.uptime {
  font-size: 20px;
  // border: 3px solid $border;
  border-radius: 0.3rem;
  color: $fg;
}

.volume {
  font-size: 1.1rem;
  margin: 0.3rem;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
}

.volume trough {
  all: unset;
  background-color: $bg;
  min-width: 36px;
  min-height: 130px;
  border-radius: 0.5rem;
}

.volume trough slider {
  all: unset;
  background-color: transparent;
  border-radius: 0.5rem;
}

.volume trough highlight {
  background-color: $fg;
  border-radius: 0.5rem;
  margin: 4px;
}

.monitoring {
  font-size: 1.1rem;
  margin: 0.3rem;
}

.monitoring trough {
  all: unset;
  background-color: $bg;
  min-width: 16px;
  min-height: 80px;
  border-radius: 0.3rem;
}

.monitoring trough slider {
  all: unset;
  background-color: transparent;
  border-radius: 0.3rem;
}

.monitoring trough highlight {
  background-color: $fg;
  border-radius: 0.2rem;
  margin: 3px;
}

.workspaces {
  padding: 0.5rem;
  // padding-top: 1rem;
  background-color: $transparent;
}

.workspace {
  background-color: $bg;
  color: $transparent;
  border-radius: 0.5rem;
  padding:0.4rem;
  min-width: 1.3rem;
  min-height: 1.3rem;
  font-size: 1.55rem;
  transition: 0.3s;

  &.active {
    background-color: $fg;
    min-height: 3.3rem;
  }
}

.special {
  all: unset;
  font-size: 5rem;
  color: red;
}








